<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form', :multipart => true }) do |f| %>
    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <h3>Edit Profile</h3>
        <%= devise_error_messages! %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => false, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <%# f.label :first_name %>
        <%# f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <%# f.label :last_name %>
        <%# f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <fieldset>

      <legend>This is optional, do it only if you wish to change your password.</legend>

      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
      </div>

    </fieldset>

    <fieldset>
      <legend>Enter your current password to make changes.</legend>

      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, class: 'form-control' %>
        </div>
      </div>

    </fieldset>

    <div class="row">
      <div class="small-12 medium-12 large-12 columns">
        <%= f.submit 'Save Changes', :class => 'button' %>
      </div>
    </div>

<% end %>