
  <%= form_for @goal do |f| %>
    <% if @goal.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>
        <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :frequency %><br>
     Monday <%= f.check_box(:frequency, { :multiple => true, checked: '#{ "mon".in?(@frequency_array) }'}, "mon", nil) %><br>
     Tuesday <%= f.check_box(:frequency, { :multiple => true }, "tue", nil) %><br>
     Wednesday <%= f.check_box(:frequency, { :multiple => true }, "wed", nil) %><br>
     Thursday <%= f.check_box(:frequency, { :multiple => true }, "thu", nil) %><br>
     Friday <%= f.check_box(:frequency, { :multiple => true }, "fri", nil) %><br>
     Saturday <%= f.check_box(:frequency, { :multiple => true }, "sat", nil) %><br>
     Sunday <%= f.check_box(:frequency, { :multiple => true }, "sun", nil) %><br>
  </div>

  <div class="form-group">
    <%= f.label :kind %><br>
    <%= f.select :kind, options_for_select([
    ['yes/no', 'yesno'],
    ['number', 'number']
    ], @goal.kind), {}, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :minimum %><br>
    <%= f.number_field :minimum, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Saaaaave!!", :class => "btn btn-primary submit_btn" %>
  </div>

  <% end %>
