<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Summit App" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Summit App" %>">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%# Modernizr is required for Zurb Foundation %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="off-canvas-wrap">

  <div class="inner-wrap">

    <header id="top-bar-container">
      <%= render 'layouts/top_navigation' %>
    </header>

    <aside class="left-off-canvas-menu">
      <%= render 'layouts/application_menu' %>
    </aside>


    <div id="page-layout" class="row collapse">

      <aside role="navigation" class="hide-for-small medium-3 large-3 columns">

        <%= render 'layouts/application_menu' %>

      </aside>

      <main role="main" class="small-12 medium-9 large-9 columns">

        <div id="notifications">
          <%= render 'layouts/messages' %>
        </div>

        <header id="page-header">
          <h1>Overview Helper Method</h1>
          <h4 class="subhead">Description Helper Method</h4>
        </header>

        <section id="page-content">

          <div class="row">

            <div class="small-12 medium-12 large-12 columns">

              <%= yield %>

            </div>

          </div>

        </section>

      </main>

    </div>

  </div>

</div>

<<<<<<< HEAD
=======
<%= render 'layouts/footer' %>

>>>>>>> 2958b9481bbf8501fdc82a678b2705001eb1a39f
</body>
</html>
